@font-face {
    font-family: 'Madrigal';
    src: url('Madrigal.woff2') format('woff2'),
        url('Madrigal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

