nav {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
}

nav .logo {
    width: 10em;
    margin-top: -2.5em;
}

.speaker-wrap {
    display: flex;
    align-items: center;
    margin-top: -2.5em;

}

.speaker-wrap i {
    color: #e74525 !important;

}

@media screen and (max-width: 1023px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    nav a {
        margin-bottom: .4em;
    }

    .speaker-wrap {
        width: 80%;
        margin: 0;
        margin-top: -1.3em;
        z-index: 2 !important;
    }
}