@font-face {
  font-family: 'Encanto';
  src: url('./fonts/Madrigal.woff2') format('woff2'),
    url('./fonts/Madrigal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Encanto';
  background: rgb(220, 41, 19);
  background: linear-gradient(132deg, rgba(220, 41, 19, 1) 0%, rgba(220, 19, 82, 1) 100%);
  min-height: 100vh;
}